{
    "extends": "@react-native-community",
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "requireConfigFile": false,
        "ecmaFeatures": {
            /* Type and JavaScript ok */
            "jsx": true,
            "tsx": true,
        },
    },
    "rules": {
        /* Nor needed for React v17 or above */
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "no-alert": "off", // Alerts help tell user they did something wrong
        "quotes": ["error", "double"] /* Double quotes are easier to read */,
        "prettier/prettier": 0 /* Let everything be handled by Prettier */,
        "react-native/no-inline-styles": 0 /* Inline styles are fine */,
        "trailingComma": "off" /* Trailing commas are ok */,
    },
}
